<dialog id="create-template" class="cluster" style="--wrap: nowrap; --align: flex-start">
	<form action="/template" method="post" class="flow">
		<header>
			<h1 class="fs:xl">Create Template</h1>
		</header>

		<%- include('../partials/template-form.ejs') %>

		<footer class="cluster">
			<div style="margin-left: auto">
				<button type="button" class="secondary" data-close>Cancel</button>
				<button type="submit" class="primary">Add</button>
			</div>
		</footer>
	</form>
</dialog>

<dialog id="label-placeholder-modal" class="stack" style="max-width: 400px">
	<h3 class="fw:medium">Edit Dynamic Tag</h3>

	<div class="stack">
		<label for="tagLabel" class="fw:medium">Label:</label>
		<input type="text" id="tagLabel" name="tagLabel" placeholder="Enter Label" required />

		<label for="tagPlaceholder" class="fw:medium">Placeholder:</label>
		<input type="text" id="tagPlaceholder" name="tagPlaceholder" placeholder="Enter Placeholder (optional)" />
	</div>

	<footer class="cluster gap-1" style="margin-top: 1rem">
		<button type="button" class="secondary" id="cancelModal">Cancel</button>
		<button type="button" class="primary" id="insertTag">Insert Tag</button>
	</footer>
</dialog>

<script>
	const ccField2Btn = document.getElementById("ccField2Button");
	const bccField2Bton = document.getElementById("bccField2Btn");

	const ccField2 = document.getElementById("ccField2");
	const bccField2 = document.getElementById("bccField2");

	function toggleccField2() {
		ccField2Btn.style.backgroundColor = ccField2.style.display === "none" ? "var(--bg-mute)" : "var(--bg-main)";
		ccField2.style.display = ccField2.style.display === "none" ? "flex" : "none";
		ccField2Btn.innerText = ccField2.style.display === "none" ? "Cc" : "Hide Cc";
	}

	function toggleBccField2() {
		bccField2Bton.style.backgroundColor = bccField2.style.display === "none" ? "var(--bg-mute)" : "var(--bg-main)";
		bccField2.style.display = bccField2.style.display === "none" ? "flex" : "none";
		bccField2Bton.innerText = bccField2.style.display === "none" ? "Bcc" : "Hide Bcc";
	}
</script>
