<dialog id="update-template" class="cluster" style="--wrap: nowrap; --align: flex-start">
	<form action="/template/<id>?_method=PUT" method="POST" class="flow">
		<header>
			<h1 class="fs:xl">Update Template</h1>
		</header>

		<%- include('../partials/template-form.ejs') %>

		<footer class="cluster">
			<div style="margin-left: auto">
				<button type="button" class="secondary" data-close>Cancel</button>
				<button type="submit" class="primary">Update</button>
			</div>
		</footer>
	</form>
</dialog>
