<header>
	<nav class="repel">
		<ul role="list">
			<li>
				<a href="/" class="no-style cluster">
					<img src="/img/mail_mate_logo.png" alt="Decorative Logo" class="logo" />
					<strong class="brand-name">My Mail Mate</strong>
				</a>
			</li>
		</ul>
		<div class="cluster">
			<ul role="list" class="cluster">
				<li><a href="/" class="">Templates</a></li>
				<div class="divider"></div>
				<li><a href="/guide" class="">Guide</a></li>
				<li><a href="https://github.com/myMailMate/mailmate/tree/main" target="_blank" class="">GitHub</a></li>
			</ul>

			<% if (session) { %>
			<div class="divider"></div>
			<form action="/auth/signout" method="GET">
				<button class="error" type="submit">Log Out</button>
			</form>
			<% } %>
		</div>
	</nav>
</header>

<style>
	header {
		background-color: var(--bg-1);
		color: var(--txt-1);
	}

	a {
		text-decoration: none;
		color: var(--txt-1);
	}

	a.no-style {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.logo {
		width: 1.75rem;
		height: auto;
	}

	@media screen and (max-width: 500px) {
		.brand-name {
			display: none;
		}
	}

	.divider {
		width: 1px;
		height: 1rem;
		background-color: gray;
	}

	.divider-horizontal {
		width: 100%;
		height: 1px;
		background-color: var(--bg-border);
	}
</style>
